*.zip
/Gi/lab7/Laba7/nbproject/private/
/Gi/lab7/Laba7/build/
/Gi/lab7/Laba7/dist/
/Yt/lab7/Laba7Java/nbproject/private/
/Yt/lab7/Laba7Java/build/
/Gr/lab 7/laba7/nbproject/private/
/Gr/lab 7/laba7/build/
/Kh/Java_Laba7/nbproject/private/
/Kh/Java_Laba7/build/
/java8/nbproject/private/
/java8/dist/
/java8/build/
