/lab7/Lab7/nbproject/private/
/lab7/Lab7/build/
/lab7/Lab7/dist/
/Va/lab7/Lab7/nbproject/private/
/Va/lab7/Lab7/build/
/Va/lab7/Lab7/dist/
/Gy/lab7/nbproject/private/
/Gy/lab7/dist/
/Gy/lab7/build/
*.zip
